@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
}
body{
    padding-top: 300px;
    align-items: center;
    background-color: rgb(60, 60, 60);
    height: 500vh;
}
header{

    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
header h1{
    font-size: 50px;
    margin-bottom: -50px;
}
.menu{
    z-index: 10;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.menu button{
    transition: all 0.2s;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 30px;
    margin-right: 30px;
    background: none;
    color: white;
    border: none;
}
.menu button:hover{
    transform: scale(1.2);
}
#items{
    z-index: -1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: gray;
    height: 260px;
    width: 120px;
    position: absolute;
    left: 400px;
    top: 167px;
}
#items a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}
main{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    height: 100%;
    width: 180vh;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}
.htwo{
    margin-bottom: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
    width: 98%;
    height: 60px;
    border-bottom: solid 6px black;
}
.mainbody{
    text-align: center;
    display: flex;
    height: 100%;
    width: 95%;
}
.mainleft{
    height: 100%;
    width: 70%;
}
#welcome{
    background: linear-gradient(100deg,  rgb(255, 229, 142) 50%, rgb(255, 204, 0) 50%);
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome{
    width: 100%;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 50px;
}
#description{
    background: linear-gradient(100deg,  rgb(142, 221, 255) 50%, rgb(0, 195, 255) 50%);
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    width: 100%;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 50px;
}
.mainright{
    height: 100%;
    width: 30%;
}
footer{
    background-color: rgb(124, 124, 124);
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: auto;
}